@layer theme, base, clerk, components, utilities;
@import "tailwindcss";

@layer base {
  @import "@xyflow/react/dist/style.css";
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

:root {
  color-scheme: light;
}


/* @theme dark {
  --color-secondary: #333;
  --color-lightish: #888;
  --color-grayish: #555;
  --color-grayish-dark:#333;
  --color-light-gray: #000;
  --color-whitish: #111; 
  --color-light-blue: #999;
} */


@theme {
  /* colors */
  --color-main: #9381FF;

  --color-secondary: #F4F4F8;
  
  --color-tertiary: #8884FF;

  /* --color-main-text: #080357; */
  --color-main-text: #0D0630;

  --color-lightish: #EFEFEE;
  
  --color-light-green: #D8FF5F;
  --color-lime-yellow: #FFF36F;
  --color-light-red: #F56476;
  --color-grayish: #DDD;
  --color-light-gray: #F8F8FA;
  --color-whitish: #fefefe; 
  --color-light-blue: #EFF0FF;
  
  /* font */
  
  /* --main: #B63EEE; */
  /* --color-secondary: #F7E5FB; */
  --font-main: var(--font-stack-sans-headline);
  /* --font-main: var(--font-stack-sans-notch); */
  --font-secondary: var(--font-quicksand);
}

body{
  @apply text-main-text;
}

h1, h2, h3{
  @apply font-main;
}

*{
  @apply font-secondary;
}
/* iamge */
img, a {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

/* wrapper */

.container-style {
  @apply w-full h-fit py-5 px-2 sm:px-5 md:px-10;
}

.container-accent-style{
  @apply bg-whitish border-b border-gray-200 shadow-xs;
}

.limit-breaker {
  @apply md:max-w-360 px-0 mx-0 sm:mx-2 md:mx-auto;
}

.container-wrapper-style{
  @apply flex bg-light-gray min-h-screen;
}


/* button */
.button-style {
  @apply bg-main text-whitish font-medium text-sm hover:bg-main/80 cursor-pointer py-2 px-10;
}

.button-style-secondary {
  @apply bg-secondary text-main font-medium text-sm hover:bg-main/10 cursor-pointer py-2 px-10;
}


.button-style-tertiary {
  @apply border-2 border-main text-main font-medium text-sm hover:bg-main/20 cursor-pointer py-2 px-5;
}

.button-style-loading{
  @apply bg-secondary/50 text-tertiary/50 font-medium text-sm cursor-not-allowed py-2 px-10;
}

.timeline-btn-style{
  @apply py-1 px-5 text-xs flex items-center justify-center gap-x-1 w-full;
}

.timeline-btn-accent {
  @apply text-main bg-secondary/50 hover:bg-secondary cursor-pointer;
}

.timeline-btn-accent-disable {
  @apply text-main-text/40 bg-grayish/50 hover:bg-grayish/20 cursor-not-allowed;
}

/*  */
.stack-style{
  @apply w-30 inline-block rounded-t-sm border border-secondary absolute bottom-0;
}

.card-style{
  @apply bg-white shadow-xs rounded-xl space-y-3 border border-grayish;
}

.card-style-secondary{
  @apply bg-white rounded-xl border border-grayish p-6;
}

.important-style{
  @apply text-light-red font-black text-xl;
}

.h-two-style {
  @apply font-main font-bold text-xl;
}

.h-three-style{
  @apply font-main font-bold text-lg;
}

.h-four-style{
  @apply text-sm my-5 font-bold text-main-text/30 font-main uppercase;
}

.p-style{
  @apply text-sm text-main-text/60;
}

.span-style{
  @apply text-xs text-main-text/50;
}

.hr-style{
  @apply border-b border-grayish/90;
}

.badge-style-secondary {
  @apply border border-grayish bg-light-gray hover:bg-grayish py-1 px-3 hover:underline whitespace-nowrap;
}

.scroll-edge-style{
  @apply absolute top-0 h-full w-15 z-1 transition-opacity duration-300;
}

.scroll-container-style{
  @apply flex items-center gap-2 relative overflow-x-scroll scrollbar-none;
}

.right-gradient-edge-style{
  @apply right-0 bg-linear-to-l from-whitish from-45% to-transparent to-90%;
}

.left-gradient-edge-style{
  @apply left-0 bg-linear-to-r from-whitish from-45% to-transparent to-90%;
}

.detail-list-style{
  @apply border-b-4 pb-3 px-3 hover:border-main cursor-pointer transition-all ease-in-out;
}


/* icon style */

.icon-style{
  @apply w-9 h-9 p-2 hover:bg-light-gray rounded-full cursor-pointer;
}
.icon-style-secondary{
  @apply w-9 h-9 p-2.5 hover:bg-secondary cursor-pointer rounded-full text-xl text-main;
}


/* input style */

.label-style{
  @apply block text-main-text/80 font-semibold font-main;
}

.input-style{
  @apply py-3 px-5 text-main-text bg-light-gray w-full border border-grayish rounded-lg outline-main;
}

.input-radio-style{
  @apply h-5 w-5 accent-main;
}

.error-msg-style{
  @apply text-light-red py-1 px-5 w-full rounded-md capitalize;
}

/* menu setting style */

.menu-setting-style{
  @apply cursor-pointer hover:bg-grayish/50 py-2 px-3 rounded-md font-secondary font-medium;
}

/* sidebar */

.sidebar-card-style{
  @apply bg-whitish max-md:rounded-xl border md:border-r border-grayish shadow-md md:shadow-xs px-2 py-5 flex md:flex-col max-md:items-center justify-between md:top-0 md:sticky md:h-full md:min-h-screen max-md:w-full fixed bottom-0 z-10;
}

.hovering-detail{
  @apply cursor-pointer py-2 px-5 rounded-lg;
}

.flex-centering{
  @apply flex items-center;
}

.menu-name-style{
  @apply transition-all ease-in-out text-xs font-medium font-secondary overflow-hidden;
}

.menu-icon-style{
  @apply font-bold shrink-0 transition-colors duration-300 w-5 h-5;
}

.badge-style{
  @apply py-1 px-3 rounded-full text-[9px];
}


/* transition style */

.transition-style{
  @apply transition-all ease-in-out duration-300;
}

/* home quick info */

.card-home-list-style {
  @apply h-25 p-5 flex items-center justify-between;
}

/* clerk style */

/* user profile */

h1[data-localization-key="userProfile.navbar.title"] {
  @apply hidden;
}

p[data-localization-key="userProfile.navbar.description"] {
  @apply hidden;
}

.ql-editor a, .message-content a{
  @apply text-main cursor-pointer hover:underline;
}

.message-content > * {
  @apply bg-transparent;
}